* {
  box-sizing: border-box;
  font-family: "Prata", serif;
  list-style-type: none;
  font-size: 16px;
  height: auto;
  width: auto;
}

body {
  margin: 0 400px;
  background: linear-gradient(to right, #36d1dc, #5b86e5);
}

a {
  color: black;
  text-decoration: none;
}

nav {
  text-align: center;
  display: flex;
  justify-content: space-around;
}

h1 {
  font-size: 2rem;
}

h2 {
  font-size: 1.6rem;
}

.navbar {
  display: flex;
  list-style-type: none;
}

b {
  font-weight: bold;
}

.navbar li {
  margin-left: 70px;
  margin-top: 50px;
  justify-content: space-between;
}

.tags,
.infoMiddle li {
  color: black;
  text-decoration: none;
  font-size: 1rem;
  margin-bottom: 15px;
}

#logos {
  width: 100px;
  height: 100px;
  margin: 20px 40px;
  border-radius: 5px;
  float: right;
}

.infoTop,
.infoMiddle,
.infoBottom,
.skillSet {
  margin: 80px 0;
}

.aboutP {
  margin: 40px 0;
  font-size: 1.1rem;
}

#capt {
  font-size: 1.8rem;
}

#time-container {
  font-size: 2rem;
}

#marioPic {
  height: 200px;
  width: 200px;
  float: right;
  margin-left: 180px;
}

.skillSet {
  display: flex;
  margin: 60px 0px;
  justify-content: space-around;
}

.skillText{
    font-size: 1.2rem;
}

.content {
  margin-bottom: 30px;
}

.hidden {
  /* display: none; */
  margin-bottom: 40px;
  /* transition: transform 0.5s cubic-bezier(0.175, 0.885, 0.32, 1.275); */
}

/* #displayText {
  font-size: 1.5rem;
} */

.skillImgs {
  height: 60px;
  width: 60px;
  margin-left: 20px;
  margin-top: 20px;
  position: relative;
  /* top: 20px; */
  right:15px;
  transition: transform 0.5s cubic-bezier(0.175, 0.885, 0.32, 1.275);
}

.skillContainer:hover .skillImgs {
  transform: scale(2.5) rotate(360deg);
}

.skillContainer:hover  .skillText{
    display: none;
}
 
.skillContainer {
  position: relative;
  display: inline-block;
}

footer {
  text-align: center;
  margin-top: 80px;
  margin-bottom: 20px;
  font-size: 1.4rem;
}
